node_modules
dist
out-tsc
.angular
.cache
.tmp

coverage
jest
cypress
cypress/screenshots
cypress/videos
reports
playwright-report
.vite
.vitepress

*.env*
!*.env.production
*.log
*.tsbuildinfo

.vscode
.idea
.DS_Store
Thumbs.db
*.swp

.git
.gitignore

Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
docker-compose*.yml

*.bak
*.old
*.tmp
