a2wsgi==1.10.10
agents==1.4.0
aiocontextvars==0.2.2
aioquic==1.3.0
apache_beam==2.72.0
argcomplete==3.6.3
asttokens==3.0.1
billiard==4.2.4
blinker==1.9.0
botocore==1.42.96
brotli==1.2.0
brotlicffi==1.2.0.1
channels==4.3.2
chardet==7.4.3
colorama==0.4.6
ConfigParser==7.2.0
cron_converter==1.3.1
cx_Oracle==8.3.0
cython==3.2.4
djangorestframework==3.17.1
docutils==0.22.4
eval_type_backport==0.3.1
eventlet==0.41.0
exceptiongroup==1.3.1
fastapi_new==0.0.6
fastmcp==3.2.4
filelock==3.29.0
flask_login==0.6.3
gevent==26.4.0
gunicorn==25.3.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.152.2
importlib_metadata==9.0.0
ipython==9.13.0
ipywidgets==8.1.8
itsdangerous==2.2.0
jnius==1.1.0
js==1.0
keyring==25.7.0
kombu==5.6.2
langchain_aws==1.4.5
langchain_classic==1.0.4
langchain_cohere==0.5.1
langchain_core==1.3.2
langchain_google_vertexai==3.2.2
langchain_huggingface==1.2.2
langchain_mistralai==1.1.2
langchain_ollama==1.1.0
langchain_openai==1.2.1
ldclient==0.0.1
loop==1.0.0
mypy_boto3_secretsmanager==1.42.8
numpy==2.4.4
objgraph==3.6.2
outcome==1.3.0.post0
pendulum==3.2.0
pexpect==4.9.0
phonenumbers==9.0.28
Pillow==12.2.0
protobuf==7.34.1
psutil==7.2.2
py4j==0.10.9.9
pycountry==26.2.16
pymongo==4.17.0
pyodide==0.0.2
pyOpenSSL==26.0.0
pyspark==4.1.1
pysqlcipher3==1.2.0
python_socks==2.8.1
pytz==2025.2
quart_auth==0.11.0
redbeat==0.0.1
rediscluster==0.5.3
sniffio==1.3.1
socksio==1.0.0
speedups==2.1.0
Sphinx==9.1.0
sqlcipher3==0.6.2
thread==2.0.6
tiktoken==0.12.0
Twisted==25.5.0
UnleashClient==6.7.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uuid_utils==0.14.1
uwsgi==2.0.31
WebOb==1.8.9
Werkzeug==3.1.8
winloop==0.6.2
wmi==1.5.1
wsproto==1.3.2
xmlrpclib==1.0.1
zope==6.1
zstandard==0.25.0
